@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import "./scss/variables";
@import "./scss/navbar";
@import "./scss/landing";
@import "./scss/companies";
@import "./scss/features";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.layout-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $media-query-desktop;

    @media only screen and (min-width: $media-query-tablet) {
        padding: 0 1.5rem;
    }

    @media only screen and (min-width: $media-query-laptop) {
        padding: 0 2.5rem;
    }

    @media only screen and (min-width: $media-query-desktop) {
        width: $media-query-desktop;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}