.companies-section {
    text-align: center;

    h2 {
        font-size: $font-size-26;
        color: $color-grey-blue;
        margin-bottom: 3.2rem;
        letter-spacing: .2rem;
        font-weight: 500;
    }

    .company-logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        max-width: 130rem;
        height: 50vh;
        margin: 0 auto;

        @media only screen and (min-width: $media-query-laptop-large) {
            flex-direction: row;
            align-items: flex-start;
            height: 30vh;
        }
    }
}