.navbar {
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 5;
    margin: 0 auto;

    @media only screen and (min-width: $media-query-tablet) {
        padding: 1rem 1.5rem;
    }

    @media only screen and (min-width: $media-query-laptop) {
        padding: 1rem 2.5rem;
    }

    @media only screen and (min-width: $media-query-desktop) {
        max-width: $media-query-desktop;
    }

    img {
        width: 50%;

        @media only screen and (min-width: $media-query-tablet) {
            width: 60%;
        }

        @media only screen and (min-width: $media-query-laptop) {
            width: 80%;
        }
    }

    .menu {
        .menu-icon {
            border-radius: 50%;
            transition: all .3s;

            @media only screen and (min-width: $media-query-tablet) {
                display: none !important;
            }

            .menu-icon-span-one,
            .menu-icon-span-two,
            .menu-icon-span-three {
                width: 2rem;
                border-bottom: .2rem solid $color-blue-dark;
                display: block;
                transition: all .3s;
                position: relative;

                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }

        .menu-icon-open {
            .menu-icon-span-one {
                transform: rotateZ(45deg);
                position: absolute;
                top: 50%;
            }

            .menu-icon-span-two {
                opacity: 0;
            }

            .menu-icon-span-three {
                transform: rotateZ(-45deg);
                position: absolute;
                top: 50%;
            }
        }

        .menu-list {
            position: absolute;
            right: 5%;
            top: 80%;
            transition: all .3s;
            background-color: $color-white;
            border-radius: 1rem;
            box-shadow: $menu-box-shadow;
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem 0;

            @media only screen and (min-width: $media-query-tablet) {
                visibility: visible;
                opacity: 1;
                position: relative;
                flex-direction: row;
                width: 100%;
                background-color: unset;
                box-shadow: unset;
            }

            ul {

                @media only screen and (min-width: $media-query-tablet) {
                    display: flex;
                }

                li {
                    line-height: 3rem;
                    border-bottom: .1rem solid $color-grey-blue;
                    font-size: $font-size-14;

                    @media only screen and (min-width: $media-query-tablet) {
                        font-size: $font-size-16;
                        border-bottom: none;
                        margin-right: 2rem;
                    }

                    @media only screen and (min-width: $media-query-laptop-large) {
                        font-size: $font-size-18;
                        margin-right: 4rem;
                    }

                    @media only screen and (min-width: $media-query-desktop) {
                        font-size: $font-size-22;
                        margin-right: 8rem;
                    }

                    a {
                        color: $color-black;
                        letter-spacing: .1rem;
                        transition: $hover-transition;

                        &:hover {
                            color: $color-orange;
                        }
                    }
                }
            }

            .account-buttons {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                font-size: $font-size-14;

                @media only screen and (min-width: $media-query-tablet) {
                    flex-direction: row;
                    margin-top: 0;
                }

                @media only screen and (min-width: $media-query-laptop) {
                    font-size: $font-size-18;
                }

                @media only screen and (min-width: $media-query-laptop-large) {
                    font-size: $font-size-22;
                }

                &-login {
                    color: $color-grey;
                    background-color: $color-white;
                    padding: .5rem 2rem;
                    border-radius: 8rem;
                    box-shadow: $login-button-shadow;
                    margin-bottom: 1rem;
                    transition: $hover-transition;

                    @media only screen and (min-width: $media-query-tablet) {
                        margin-left: 2rem;
                        margin-right: 1.5rem;
                        margin-bottom: 0;
                    }

                    @media only screen and (min-width: $media-query-laptop) {
                        margin-left: 0;
                    }

                    &:hover {
                        color: $color-white;
                        background-color: $color-orange;
                    }
                }

                &-register {
                    background-color: $color-orange;
                    color: $color-white;
                    padding: .5rem 2rem;
                    border-radius: 8rem;
                    transition: $hover-transition;

                    &:hover {
                        color: $color-grey;
                        background-color: $color-white;
                    }
                }
            }
        }
    }

    .open-menu {
        visibility: visible;
        opacity: 1;
    }

    .close-menu {
        visibility: hidden;
        opacity: 0;
    }
}