/* colors */
$color-blue: #65DAFF;
$color-blue-dark: #2F327D;
$color-orange: #F48C06;

/* font-size */
$font-size-20: 2rem;
$font-size-22: 2.2rem;
$font-size-24: 2.4rem;
$font-size-26: 2.6rem;
$font-size-30: 3rem;
$font-size-32: 3.2rem;
$font-size-36: 3.6rem;
$font-size-40: 4rem;
$font-size-44: 4.4rem;
$font-size-54: 5.4rem;
$font-size-60: 6rem;

/* media queries */
$media-query-mobile: 425px;
$media-query-tablet: 768px;
$media-query-laptop: 1024px;
$media-query-laptop-large: 1440px;
$media-query-desktop: 1660px;