/* colors */
$color-blue: #65DAFF;
$color-blue-dark: #2F327D;
$color-orange: #F48C06;
$color-white: #fff;
$color-grey: #6C6C6C;
$color-grey-blue: #696984;
$color-black: #252641;
$color-landing-bg: #FFF2E1;

/* box shadows */
$menu-box-shadow: 0 .2rem 2rem rgba(116, 116, 116, 0.4);
$login-button-shadow: 0 .2rem .4rem rgba(116, 116, 116, 0.3);

/* font-size */
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-22: 2.2rem;
$font-size-24: 2.4rem;
$font-size-26: 2.6rem;
$font-size-30: 3rem;
$font-size-32: 3.2rem;
$font-size-36: 3.6rem;
$font-size-40: 4rem;
$font-size-44: 4.4rem;
$font-size-54: 5.4rem;
$font-size-60: 6rem;

/* media queries */
$media-query-mobile: 425px;
$media-query-tablet: 768px;
$media-query-laptop: 1024px;
$media-query-laptop-large: 1440px;
$media-query-desktop: 1660px;